﻿@{
    ViewBag.Title = "Index";
}

<div id="content">
    <h2>@ViewBag.LatestPost.Subject</h2>

    <p>posted on @ViewBag.LatestPost.DateAdded.ToLongDateString()</p>
    <p>@ViewBag.LatestPost.Text</p>
    <hr />
    Comments<br />
    @foreach (var item in ViewBag.LatestPost.Comments)
    {
        <p>@item.Author said at @item.DateAdded.ToLongDateString()
            <br />
            @item.Text
        </p>
    }

    <p>Add a comment</p>
    @using (Html.BeginForm("CreateComment", "Blog", new { id = ViewBag.LatestPost.Id }, FormMethod.Post))
    {
        <p>
            Your name<br />
            @Html.TextBox("Author")
        </p>
        <p>
            Your comment<br />
            @Html.TextArea("Comment")
        </p>
        <p>
            <input type="submit" value="Add Comment" />
        </p>
    }
</div>

<div id="rightNav">
    <h2>All posts</h2>
    <ul>
        @foreach (var item in ViewBag.AllPosts)
        {
            <li>
                @Html.ActionLink((string)item.Subject, "Detail", new { id=item.Id })
                <br/>
                @item.ShortText
            </li>
        }
    </ul>
</div>
