﻿body
{
    font-family: "Segoe UI";
}

h1,h2,h3 {
    font-weight: normal;
}

#document
{
    width: 750px;
    margin: 0 auto;
}

#content
{
    float: left;
    width: 500px;
}

#rightNav
{
    float: right;
    width: 250px;
}
